.header{
	height: 380px;
	background-image: url(../img/Hero.png);
	h1{
	color: #fff;
	font-size: 40px;
	letter-spacing: 3.89px;
	text-align: center;
	padding-top: 90px;
	}
	select{
		display: block;
		margin: 80px auto 80px auto;
		width: 450px;
		height: 48px;
		font-size: 18px;
		background: rgba(255,255,255,0.70);
		border: 3px solid #FFFFFF;
		border-radius: 3px;
		cursor:pointer;
	}

}

.hotArea{
	max-width: 800px;
	margin: 0 auto;
	background: #FFFFFF;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
	border-radius: 5px;
	padding: 20px;
	h2{
		margin-bottom: 10px;
		font-size: 18px;
		color: #000000;
		font-weight: bold;
	}
	input{
		font-size: 24px;
		float: left;
		border-radius: 5px;
		width: 130px;
		height: 42px;
		margin-left: 30px;
		color: #fff;
		padding: 3px;
	}
	input:nth-child(2){
		background: #8A82CC;
	}
	input:nth-child(3){
		background: #FFA782;
	}
	input:nth-child(4){
		background: #F5D005;
	}
	input:nth-child(5){
		background: #559AC8;
	}

}
.main{
	padding-bottom: 100px;
	.divideLine{
		width: 90%;
		margin: 120px auto 50px auto;
		border-width: 1px;
		border-style: dashed;
		border-color: rgb(85, 154, 200);
	}
	.title h2{
	    color: rgb(138, 130, 204);
	    font-size: 36px;
	    line-height: 43px;
	    text-align: center;
	    font-weight: bolder;
	    margin-bottom: 24px;
	}
}

.travelInfo{
	margin: 0 2% 0 2%;
	li{
		margin:0 1% 50px 1%;
		float: left;
		width: 48%;
		height: 350px;
		background: #FFFFFF;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
		padding-bottom: 5px;
		position: relative;
		.card{
			position: relative;
			background-image: url(http://khh.travel/FileArtPic.ashx?id=705&w=1280&h=960);
		    background-size: cover;
		    background-position: center;
		    padding-top: 145px;
		    padding-bottom: 16px;
		    margin-bottom: 16px;
		    h3{
		    	font-size: 24px;
		    	color: #fff;
		    	margin-left: 24px;
		    }
		    h4{	
		    	color: #fff;
				position: absolute;
				right: 24px;
				bottom: 12px;
		    }
		}
		p{
			font-size: 16px;
			color: #000000;
			margin-bottom: 16px;
			margin-left: 20px;
			margin-right: 20px;
		}
		.fee{
			position: absolute;
			right:20px;
			bottom:5px;
		}
		.openTime::before,.address::before,.tel::before,.fee::before{
			content: '';
			display: inline-block;
			height: 20px;
			width: 20px;
			margin-right: 10px;
		    background-repeat: no-repeat;
		    vertical-align: middle;
		}
		.openTime::before{
			background-image: url(../img/icons_clock.png);
		}
		.address::before{
			background-image: url(../img/icons_pin.png);
		}
		.tel::before{
			background-image: url(../img/icons_phone.png);
		}
		.fee::before{
			background-image: url(../img/icons_tag.png);
		}
	}	
}

.footer{
	background: #559AC8;
	h5{
		text-align: center;
		color: #fff;
		padding-top: 20px;
		margin-bottom: 10px;
	}
	p{
		text-align: center;
		font-size: 14px;
		color: #FFD366;
		padding-bottom: 20px;
	}
}